<app-topbar></app-topbar>
<div class="container">
    <div class="sub-container">
        <mat-form-field appearance="fill">
            <mat-label>Selectionez une pharmacie</mat-label>
            <mat-select [(value)]="selectedId">
                <mat-option *ngFor="let officine of officines" [value]="officine.id">
                    {{officine.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>            
        <div class="sub-container__body p3">
            <button [disabled]="!selectedId" (click)="validateSelection()" mat-flat-button>Valider</button>
        </div>
    </div>
    <div class="sub-container mt">
        <div style="padding: 15px; color: grey">
            Selection depuis la carte
            <div class="map-box">
                <div style="margin: auto">
                    mettre la carte ici
                </div>
            </div>
        </div>
    </div>
</div>