<app-topbar></app-topbar>
<div class="container">
    <div class="sub-container">
        <div class="sub-container__body">
            <div class="alt"><span class="discret"> Nom d'utilisateur</span> {{ userData.username }}</div>
            <div><span class="discret"> E-mail</span> {{ userData.email }}</div>
            <div class="alt"><span class="discret"> Date d'inscription</span> {{ userData.created_at | date:'dd/MM/yyyy' }}</div>
            <button (click)="userDisconnect()" mat-flat-button>Se déconnecter</button> 
            <a [routerLink]="'/home'" mat-flat-button>Retour</a>
        </div>
    </div>
</div>
