.container {
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.profil {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgb(221, 221, 221);
}

.profil__body {
    display: flex;
    flex-direction: column;
}

.profil__body div {
    padding: 10px;
}

.profil__body .alt {
    background-color: rgb(243, 243, 243);
}

.discret {
    color: rgb(172, 172, 172);
    font-size: 0.8em;
}

@media (max-width: 600px) {
    .profil { width: 90% }
}