<div class="medic-box">
    <div class="medic-box__image">
        <img src="assets/img/image.png">
    </div>
    <div class="medic-box__name">
        {{ medic.name }}
    </div>
    <div class="medic-box__description">
        {{ (medic.description.length > 150) ? (medic.description | slice:0:150)+'...':(medic.description) }}
    </div>
    <div class="medic-box__buttons">
        <div class="btn btn--price">{{ medic.prix }} €</div>
        <div *ngIf="!clicked" class="btn btn--react btn--add" (click)="action()"><i class="fas fa-cart-plus"></i> Ajouter au panier</div>
        <div *ngIf="clicked" class="btn btn--react btn--remove" (click)="action()"><i class="fas fa-times-circle"></i> Enlever du panier</div>
    </div>
</div>