<p>login</p>
<div class="container">
    <div class="form">
        <div *ngIf="error">
            {{ error }}
        </div>
        <div>
            <input [(ngModel)]="login.name" name="username" type="text" placeholder="Nom d'utilisateur" required>
        </div> 
        <div>
            <input [(ngModel)]="login.password" name="password" type="password" placeholder="Mot de passe" required>
        </div>
        <div>
            <input (click)="validateForm()" type="submit" value="Valider">
        </div>        
    </div>
</div>