<div class="container m-t">
    <div *ngIf="error" class="alert-box">
        <div>
            {{ error }}
        </div>
    </div>

    <div class="form">
        <div class="top">
            Connexion
        </div>
        <div class="form__body">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nom d'utilisateur</mat-label>
                <input matInput [(ngModel)]="login.name" name="username" placeholder="Nom d'utilisateur" required>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Mot de passe</mat-label>
                <input matInput [(ngModel)]="login.password" type="password" name="password" placeholder="Mot de passe" required>
            </mat-form-field>

            <button (click)="validateForm()" mat-flat-button>Valider</button>            
        </div>
    </div>
</div>