/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400;1,800&display=swap');

* {
    --theme-green: #25d88e;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
}