<app-topbar></app-topbar>
<div class="container container--flex">
    <div class="container__elem" *ngFor="let medic of medics">
        <app-medic [medic]="medic" (actionPanier)="actionOnPanier($event)"></app-medic>
    </div>
</div>
<div style="height: 100px;"></div>
<div class="float-btn" #FloatBtn>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <i class="fas fa-calculator fa-2x"></i>
    </button>
</div>
<app-panier [panier]="medicsPanier" [quantityPanier]="quantityPanier"></app-panier>
